{% extends 'base.html' %}

{% block content %}
<h2>Relatório Semanal de Reposição</h2>
<p><em>Itens que atingiram o estoque mínimo, organizados por fornecedor.</em></p>

<ul>
    {% for item in lista_compras %}
    <li>
        <strong>Fornecedor:</strong> {{ item['fornecedor_nome'] }} <br>
        <strong>Produto:</strong> {{ item['descricao'] }} <br>
        <strong>Comprar:</strong> {{ item['quantidade_a_comprar'] }} {{ item['unidade_medida'] }}
        <em>(Estoque atual: {{ item['quantidade'] }} / Mínimo: {{ item['estoque_minimo'] }})</em>
    </li>
    <hr>
    {% else %}
    <p> Nenhum produto abaixo do estoque mínimo. Tudo abastecido!</p>
    {% endfor %}
</ul>
{% endblock %}